<div class="page-header">
	<h1>user registration</h1>
</div>
<form ng-submit="register.regUser(regData);">
	<label>email:</label>
	<input class="form-control" type="text" name="email" placeholder="please enter your email" ng-model="register.regData.email">
	<br>
	<label>username:</label>
	<input class="form-control" type="text" name="uname" placeholder="please enter your username" ng-model="register.regData.username">
	<br>
	<label>password:</label>
	<input class="form-control" type="password" name="pwd" placeholder="please enter your password" ng-model="register.regData.password">
	<br>
	<button class="btn btn-primary" type="submit">Register</button>
</form>

<br>
<div class="jumbotron text-center" ng-show="register.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading .. </p>
</div>
<br>
<div class="row show-hide-message" ng-show="register.successMsg">
	<div class="alert alert-success">{{register.successMsg}}</div>
</div>
<br>
<div class="row show-hide-message" ng-show="register.errorMsg">
	<div class="alert alert-danger">{{register.errorMsg}}</div>
</div>